

.flex-container {
  background-color: gray;
  border: 2px solid black;
  width: 75vw;
  height: 50vh;
  border-bottom: 10px solid red;
  border-left: 10px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: first baseline;
  flex-wrap: wrap;
  gap: 1rem;
}
 /*align-items: end;*/
.flex-item {
  background-color: greenyellow;
  border: 1px solid black;
  padding: 10px;
  flex:0 1 10rem;
}

.item-1 {
  flex-grow: 1;
  align-self: center;
}

.item-3 {
  flex-grow: 1;
}

.item-5 {
  flex-grow: 2;
  flex-shrink: 2
}

.item-6 {
  flex: 1 0 12rem;
}
