header{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: blue;
  text-align: center;
  background-size: auto;
  }  

#button {
  font-size: 30px;
  color: blueviolet;
}
img {
  display: block;
  border-radius: 50%;
  border: 8px solid white;
  position: relative;
  left: -380px;
  top: 190px;
}  

#container {
  display: flex;
  flex-direction: column;
}  
#name_head{
  background-color: blue;
  color: green;
  border: 2px solid salmon;
  }

#the_intro {
  color: yellowgreen;
  padding: 2%;
  background-color: rosybrown;  
  }

#box1 {
  display: block;
  border: 1px solid blueviolet;
  padding: 10px;
  width: 20%;
  }

#box2 {
  display: inline-block;
  border: 1px solid fuchsia;
  padding: 10px;
  width: 20%;
  fill
  }

#box3 {
  order: 2;
  color: aqua;
  display: none;
  border: 9px solid thistle;
  padding: 10px;
  width: 20%;
  }

#box4 {
  display: flex;
  padding: 40px;
  border: 1px solid darkkhaki;
  border-color: coral;
  width: 45%;
  }

#box5 {
  display: grid;
  position: sticky;
  padding: 2%;
  border: 3px solid greenyellow;
  width: 80%;
  }

#footer {
  position:absolute;
  border: 3px solid darkcyan;
  fill: darkcyan;
  width: 90%;
  }